:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ==============Компоненти============== */

.main {
  background-color: #d8d2d2;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
}

.header {
  background-color: #ccc;
}

/*============= Шапка сайта ==============*/
.logo-text-header {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-blue {
  color: #2196f3;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

.address-one .address-one-item {
  color: var(--secondary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-one-item:hover,
.address-one-item:focus {
  color: #2196f3;
}

/*================ Герой ================*/
.hero {
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.modal-btn {
  border-radius: 4px;

  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: #188ce8;
}

/*============== Преимущества =============*/
.benefits {
  padding-top: 94px;
}

.title-hidden {
  display: none;
}

.benefits-list-item .suptitle {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-list-item .description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*============== Примери робот =============*/
.title-work-examples {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/*================= Команда ================*/
.title-our-team {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-suptitle {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/*================= Подвал ================*/
.footer {
  background-color: #2f303a;
}

.logo-text {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address-two-item {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-two-item-transparent {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*=====================================*/
/*==============ПОРТФОЛИО==============*/
/* =================================== */
.portfolio-main {
  background-color: #eeeeee;
}
/* ===============Фильтр=============== */

.modal-button {
  border-radius: 4px;
  padding: 6px 22px;

  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-button:hover,
.modal-button:focus {
  color: #ffffff;
  background-color: #188ce8;
}

/* ===============Карточки=============== */
.cards-item .card-suptitle {
  color: #212121;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-item .card-description {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
