:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ==============Компоненти============== */

.main {
  background-color: #d8d2d2;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-container {
  display: flex;
  align-items: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: tomato; */
  outline: 2px solid tomato;
}

.section.no-pading {
  padding-top: 0;
  padding-bottom: 0;
}

/*============= Шапка сайта ==============*/
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-text-header {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-blue {
  color: #2196f3;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

.address-one .address-one-item {
  color: var(--secondary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-one-item:hover,
.address-one-item:focus {
  color: #2196f3;
}

.site-nav {
  display: flex;
  align-items: center;
}
.site-nav-item:not(:last-child),
.address-list:not(:last-child) {
  margin-right: 50px;
}

.address-one {
  display: flex;
  align-items: center;
}

/*================ Герой ================*/
.div-hero {
  text-align: center;
  background-color: #2f303a;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  box-shadow: 0px 4px 4px 0px #00000040;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  width: 696px;
  height: 120px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 236px;
  margin-right: 237px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.modal-btn {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: #188ce8;
}

/*============== Преимущества =============*/
.benefits {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 47px;
}

.title-hidden {
  display: none;
}

.benefits-list {
  display: flex;
  margin-right: -30px;
  /* outline: 1px solid #e818c5; */
  /* justify-content: space-between; */
}
.benefits-list > .benefits-list-item {
  flex-basis: calc(100% / 4 - 30px);
  /* outline: 1px solid #18e822; */
}

.benefits-list-item .suptitle {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-list-item .description {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}
/*============== Примери робот =============*/
.title-work-examples {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-examples-img-list {
  display: flex;
  margin-right: -30px;
  /* outline: 1px solid #e818d7; */
  /* padding-bottom: 94px; */
  /* font-size: 0px; */
}

.work-examples-img-list > .examples-img-list-item {
  /* outline: 1px solid #44ec1a; */
  flex-basis: calc(100% / 3 - 30px);
  /* display: inline-block; */
}

.examples-img-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work-examples {
  background-color: #ffffff;
  padding-top: 47px;
  padding-bottom: 94px;
}

/*================= Команда ================*/

.our-team {
  background-color: #f5f4fa;
  /* padding-top: 94px;
  padding-bottom: 94px; */
}

.title-our-team {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  /* outline: 1px solid #e818d7; */
  /* font-size: 0px; */
}

.team > .team-item {
  /* outline: 1px solid #5ae619; */
  flex-basis: calc(100% / 4 - 30px);
  /* display: inline-block; */
}

.team-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}
.team-person {
  padding-top: 30px;
  padding-bottom: 16px;
  background-color: #fff;
}

.team-suptitle {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-description {
  margin-top: 0;
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/*================= Подвал ================*/
.footer {
  background-color: #2f303a;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-text {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
}

.address-two-item {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-two-item-transparent {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-contacts:not(:last-child) {
  margin-bottom: 9px;
}
/*=====================================*/
/*==============ПОРТФОЛИО==============*/
/* =================================== */
.portfolio-main {
  background-color: #eeeeee;
}
/* ===============Фильтр=============== */
.filters-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.modal-button {
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  min-width: 73px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  color: #ffffff;
  background-color: #188ce8;
}

/* ===============Карточки=============== */
.cards-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  padding: 0;
  /* outline: 1px solid #188ce8; */
  /* font-size: 0px; */
}

.cards-set > .cards-set-item {
  /* display: inline-block; */

  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
  /* outline: 1px solid #42e818; */
}

.cards-set-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.cards-set-item:not(:nth-last-child(-n + 3)) {
  /* margin-bottom: 30px; */
}

.cards-projects-item .card-suptitle {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-projects-item .card-description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.card-caption {
  padding: 20px 24px;
  border: 1px solid #ffffff;
  border-top: 0;
}

.card-suptitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.card-description {
  color: var(--secondary-text-color);
}
